* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.top-barstyle {
  display: flex;
  background-color: rgb(143, 16, 143);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(196, 193, 199);
  box-shadow: 1px 1px 5px 0px gray;
  /*background-image: url("/mushroom-plants-glowing-4k-cd-2560x1440.jpg");*/
}

.logo-style {
  display: flex;
  flex: 1;
  justify-content: center;
  color: white;
}

.link-style {
  display: flex;
  flex: 3;
  justify-content: space-evenly;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .link-style {
    display: flex;
  }
}

.link-contentstyle {
  text-decoration: none;
  font-size: medium;
  position: relative;
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(13, 188, 177);
  font-family: cursive;
  font-weight: bold;
}

.link-contentstyle::after {
  position: absolute;
  left: 0;
  top: 100%;
  width: 0px;
  height: 1px;
  border-bottom: 2px solid rgb(23, 23, 134);
  content: "";
  transition: width linear 100ms;
}

.link-contentstyle:hover {
  color: rgb(23, 23, 134);
  background-color: lavender;
}

.link-contentstyle:hover::after {
  width: 100%;
}

.page-style {
  background-image: url("/mushroom-plants-glowing-4k-cd-2560x1440.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
}
.container2-child1 {
 color: #f2f2f2;
  width: 1000px;
  margin-left: 250px;
  margin-top: 100px;
  margin-right: 50px;
  text-align: center;
  margin-bottom: 64px;
  align-items: center
}
.container2-child2 {
align-items: center;
justify-content: center;
margin-left: 375px;
margin-bottom: 100px;
}

* {
  box-sizing: border-box;
}
body {
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: aliceblue;
  text-align: center;
}
.media {
  padding: 20px 20px 0 120;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.media li a {
  text-decoration: none;
  color: bisque;
  font-size: 25px;
}
.media li a:hover {
  color: yellow;
}*/

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

footer {
  background-color: rgb(50, 11, 133);
  height: auto;
}


.media {
  padding: 40px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.media li a {
  text-decoration: none;
  color: bisque;
  font-size: 25px;
}
.media li a:hover {
  color: rgb(255, 47, 0);
}

.picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.picture img  {
  border-radius: 12px;
  max-width: 300px;
  
}

.zoom {
  transition: transform .2s;
 }
 
 .zoom:hover {
   -ms-transform: scale(1.05); 
   -webkit-transform: scale(1.05); 
   transform: scale(1.05); 
 }
